.active-room {
    //padding: 10px 15px 25px 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //background-color: #fdfdfd;
  gap: 15px;
  flex-grow: 1;
    &__return-btn {
        display: none;
    }
  &__not-exist {
    height: 100%;
  }
  &__header {
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 100%;
      gap: 10px;
  }
  &__space {
    flex-grow: 2;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 10px;

  }
  &__photo {
    /**/
  }
  &__name {
    margin: 0 !important;
    line-height: 18px !important;
  }
  &__status {
    font-size: 12px;
    font-weight: bold;
  }
  &__options {
    display: flex;
    gap: 25px;
  }
  &__footer {
    position: relative;
  }
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
}


@media (max-width: 767.9px) {
    .active-room {
        &__header {
           padding: 0 20px 0 10px !important;
        }
        &__return-btn {
            display: block;
        }
    }
}
