.pinned-messages {
    position: relative;
    height: 3rem;
    z-index: 100;

    &__mark {
        position: absolute;
        left: 0;
        top: 0;
        width: 0.125rem;
        background: black;
        border-radius: 0.0625rem;
        will-change: transform;
        transition: transform 0.25s ease-in-out;
        transform: translateY(0);
        height: 7px;
    }
}

@media (max-width: 1024px) {
    .pinned-messages {
        width: 100%;
        height: max-content;
        min-height: auto;
    }
}
