.block-by-day {
    margin-bottom: 10px;
    &__date-wrapper {
        pointer-events: none;
        position: sticky;
        z-index: 10;
        top: 0;
        margin-bottom: 4px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        div:first-child {
            flex-basis: 17%;
        }
    }
    &__date {
        color: white;
        padding: 5px 15px;
        background: #1e2c3a;
        border-radius: 20px;
    }
}

.block-by-day:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 767.9px) {
    .block-by-day {
        &__date-wrapper {
            justify-content: center;
            div:first-child {
                display: none;
            }
        }
        &__date {
            padding: 3px 10px;
        }
    }
}
