.uploaded-file {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px solid #35547e;
    border-radius: 8px;
    position: relative;
    &:hover {
        .uploaded-file__mask {
            opacity: 1;
        }
    }
    &_with-thumbnail {
        &:hover::before {
            opacity: 1;
        }
        &::before {
            position: absolute;
            z-index: 1;
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            background-color: rgba(0, 0, 0, 0.45);
            opacity: 0;
            transition: all 0.3s;
            content: " ";
        }
    }
    &__mask {
        position: absolute;
        z-index: 10;
        opacity: 0;
        transition: all 0.3s;
    }
}
